
align-items: center;
justify-content: center;
display: flex;(ckounhom eli type mt3hom block w chkoun eli type mt3hom inline w3lch n7otou flex w3lh n7otou inline-block )
font-family: w font-weight
transform(chnouma les paramétre eli yt7tou fha)
transform-style
transition-delay:
transition-prperty:
text-justify
overflow
position
w9teh n7otou auto

